<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=.\mssql2008;Initial Catalog=testdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
   
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true" defaultProvider="SqlRoleManagerProvider">
      <providers>
        <clear/>
        <add name="SqlRoleManagerProvider"
             type="System.Web.Security.SqlRoleProvider"
             applicationName="/myapp" connectionStringName="LocalSqlServer"/>
      </providers>
    </roleManager>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="LocalSqlServer"
             enablePasswordRetrieval="true"
             enablePasswordReset="false"
             requiresQuestionAndAnswer="false"
             applicationName="/myapp"
             requiresUniqueEmail="true"
             passwordFormat="Encrypted"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <machineKey validationKey="AABAC61CAD840E0175395CE2A35B251354667FFC431A90D81ECA6D119430D3FEC360821CF75A630264A6C486C4A27B46B2E6170EA3F6FCFF7A1788933F8F6AF0" decryptionKey="52CE0DC3510CAE8BD56F7E387C6F7BA377E47599ACCCAFCD" validation="SHA1"/>
    <compilation debug="true"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
</configuration>